html {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#recipes {
    text-align: justify;
}

.recipe {
    width: 30%;
    display: inline-block;
    border: 1px solid grey;
    margin: 15px;
}

.recipe img {
    width: 100%;
    height: 300px;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    text-decoration: none;
}

.wrapper {
    text-align: center;
}

button {
    height: 35px;
    color: white;
    background-color: lightskyblue;
    font-family: 'Roboto', sans-serif;
}
/*styling submit button for better appearance */
#submit_button {
    background-color: lightskyblue; 
    color: white; 
    border: none; 
    border-radius: 20px;
    padding: 10px 20px; 
    text-transform: uppercase; 
    font-weight: bold; 
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.3s ease; 
}
  
#submit_button:hover {
    background-color: darkblue; /* slightly darker blue on hover */
}

input {
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 5px;
}

.playlist-area, .search-results-area {
    margin-bottom: 20px;
}
.playlist-area h2, .search-results-area h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.input-area {
text-align: center; /* centering elements within the div */
}

.input-area label,
.input-area input,
.input-area button {
margin: 0 auto; 
display: block; 
}

#song-title {
    width: 25%; /* sets specific width to the input field */
}

#submit_button {
    margin-top: 10px; /* adds space between the input field and the button */
}

#song-info {
    text-align: center;
    margin: 0 auto; 
    max-width: 800px; 
}

.song {
    display: inline-block; 
}

.song img {
    display: block; /* centering images within their inline-block containers */
    margin: 0 auto; /* centering image within the .song div */
}

#song-info table {
    width: 100%; 
    margin: 0 auto; 
}

#song-info th,
#song-info td {
    text-align: center; 
}

#search-results-table {
    width: 60%; 
    max-width: 600px; 
    margin: 20px auto; 
    border-collapse: collapse; 
  }

#search-results-table th,
#search-results-table td {
    border: 1px solid #ddd; 
    text-align: left;
    padding: 8px; 
}

#search-results-table tr:nth-child(even) {
    background-color: #f9f9f9; 
}

#search-results-table tr:hover {
    background-color: #ddd; 
}

#search-results-table th {
    background-color: #f4f4f4; 
    color: black;
}

.add-song {
    font-size: 24px; 
    line-height: 24px; 
    color: blue; 
    border: none; 
    background: none; 
    cursor: pointer;
}

.search-result-row img {
    width: 50px; 
    height: 50px; 
}

#playlist-table {
    width: 45%;
    margin: 20px auto;
    border-collapse: collapse;
}

#playlist-table th,
#playlist-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

button {
    border: none; 
    background-color: transparent; 
    cursor: pointer;
    color: blue; 
}

.minus-button {
    font-size: 24px; 
    font-weight: bold; 
    color: blue; 
  }

.up-arrow-button, .down-arrow-button {
    color: blue; 
    
}

.minus-button::before {
    content: '−'; 
    color: blue; 
    font-size: 24px;
}

.up-arrow-button::before {
    content: '\f106'; 
    font-family: 'FontAwesome'; 
    color: blue; 
}

.down-arrow-button::before {
    content: '\f107'; 
    font-family: 'FontAwesome'; 
    color: blue; 
}

.playlist-row img {
    width: 50px; 
    height: 50px; 
}